@font-face{
    font-family: GothamPro;
    src: url(fonts/GothamPro.ttf);
}

@font-face{
    font-family: GothamProLight;
    src: url(fonts/ofont.ru_Gotham\ Pro.ttf);
}

@font-face{
    font-family: Lato;
    src: url(fonts/9622.ttf);
}

@font-face{
    font-family: MyriadPro;
    src: url(fonts/8143.otf) format("oft");
}

@font-face{
    font-family: LatoSemibold;
    src: url(fonts/Lato-Semibold.ttf);
}

@font-face{
    font-family: LatoMedium;
    src: url(fonts/Lato-Medium.ttf);
}

body{
    margin: 0;
    padding: 0;
    font-family: Lato;
}

/* .slide-1,
.slide-3{
    display: none;
} */

p{
    display: block;
    margin: 0;
    padding: 0;
}

.container{
    min-width: 1024px;
    min-height: 768px;
    height: 100%;
    margin: 0;
    padding: 0;
}


.slide-1 .container{
    background: url(assets/slide1/morecopy.png) no-repeat;
    background-size: cover;
    
}

.promo p{
    width: 800px;
    font-family: GothamPro;
    font-size: 50px;
    color: #0d319c;
    line-height: 55px; 
    transform: translateX(70px) translateY(135px);
}

.pointOnTop{
    position: relative;
}

.block {
    position: absolute;
    width: 300px;
    height: 55px;  
    margin: 0;
}

.gipo{
    transform: translateX(225px) translateY(290px);
}

.circle-group{
    position: relative;
}

.circle1{
    position: absolute;
    left: 49px;
    top: 27px;
    width: 28px;
    height: 28px; 
    background-image: url("assets/slide1/EllipseGipo1.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}

.circle2{
    position: absolute;
    top: 30px;
    left: 52px;
    width: 22px;
    height: 22px; 
    background-image: url("assets/slide1/EllipseGipo2.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 3;
}

.circle3{
    position: absolute;
    top: 35px;
    left: 57px;
    width: 12px;
    height: 12px; 
    background-image: url("assets/slide1/EllipseGipo3.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 5;
}

.text{
    position: absolute;
    top: -10px;
    font-size: 20px;
    color: #0d319c;  
}

.bads{
    transform: translateX(425px) translateY(395px);
}

.bads .text{
    left: -55px;
}

.bads .circle-bads{
    transform:translate(-25px, 10px) scale(0.7);
}

.point{
    width: 270px;
    transform:translateX(595px) translateY(95px);
}

.point .circle-point{
    transform: scale(2);
}

.point .text{
    top: 70px;
    left: 35px;
}

.risks{
    width: 200px;
    transform: translateX(757px) translateY(385px);
}

.risks .circle-risks{
    transform: scale(0.7);
}

.risks .text {
    left: 20px;
}

.page-footer{
    width: 300px;
    height: 50px;
    transform: translateX(470px) translateY(590px);
}

.page-footer .page-footer__text{
    color: white;
    font-family: GothamPro;
}

.page-footer .page-footer__arrow{
    width: 45px;
    height: 45px;
    background: url(assets/arrowDown.png) no-repeat;
    background-size: contain;
    transform: translateX(35px) translateY(10px);
    ;
}

.slide-2 .container{
    background: url(assets/slide2/slide2.png) no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0; 
}

.container-two{
    position: absolute;
    transform: translate( 0, -780px);
}

.promo2 p {

    font-family: GothamProLight;
    color: white;
    font-size: 50px;
    text-align: center;
    transform: translateY(250px);


}

.ice{
    position: relative;
}

.ice1 {
    position: absolute;
    background: url(assets/slide2/ice1slide2.png) no-repeat;
    height: 210px;
    width: 150px;
    background-size: contain;
    transform: translate(875px, -80px);


    
}

.ice2 {
    position: absolute;
    background: url(assets/slide2/ice2slide2clear.png) no-repeat;
    height: 40px;
    width: 40px;
    background-size: contain;
    transform: translate(85px, 50px);


}

.ice3{
    position: absolute;
    background: url(assets/slide2/ice2slide2clear.png) no-repeat;
    height: 110px;
    width:200px;
    background-size: contain;
    transform: translate(230px, 360px) rotate(45deg);


}

.ice4{
    position: absolute;
    background: url(assets/slide2/ice4.png) no-repeat;
    height: 80px;
    width: 70px;
    background-size: contain;
    transform: translate(720px, 470px); 


}





